/* CSS Entry Point */
$background-color: #DACCCA;

img {
	height: 100px;
	float: left;
	padding: 20px;
	margin-right: 20px;
}

.question-area div {
	width: 450px;
}

.app {
	background-color: $background-color;
	border-radius: 5px;
	display: inline-block;
}

.game-stage {
	padding: 0 20px 20px 20px;
}

.header {
	max-width: 90%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	span {
		font-family: 'Oswald', sans-serif;
		font-weight: lighter;
		// text-decoration: underline;
		letter-spacing: 1.5px;
	}
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 3.5em;
	color: white;
	letter-spacing: 6px;
	text-shadow:  2px 2px 5px darken($background-color, 40%);
	text-align: center;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: .9em;
	letter-spacing: 0.75px;
	color: darken(white, 70%);
	text-align: center;
}

.question-area {
	padding: 25px 40px 25px 40px;
	border: 0.5px solid gray;
	border-radius: 4px;
}


