/* CSS Entry Point */
$background-color: #DACCCA;
$instructions: darken(white, 70%);

h1, h3 span {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: $instructions;
}

h1 {
	font-size: 4em;
	color: white;
	letter-spacing: 6px;
	text-shadow:  2px 2px 5px darken($background-color, 40%);
	}

h3 span {
	font-size: .9em;
	color: darken($instructions, 5%);
	letter-spacing: 1.5px;
}

p, .header span, , .question, .question-area {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	color: $instructions;
	letter-spacing: 0.75px;
}

p {
	font-size: 0.95em;
	text-align: center;
}

.header span {
	font-size: 1.15em;
	font-weight: bolder;
	letter-spacing: -0.1px;
}

img {
	height: 100px;
	float: left;
	padding: 20px;
	margin-right: 20px;
}

.question-area div {
	width: 500px;
}

.app {
	background-color: $background-color;
	border-radius: 5px;
	display: inline-block;
}

.game-stage {
	padding: 0 20px 20px 20px;
}

.header {
	max-width: 90%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.question-area {
	padding: 25px 40px 25px 40px;
	border: 0.5px solid gray;
	border-radius: 4px;
}


